---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

My teaching philosophy is grounded in the idea that students learn best when they feel confident, engaged, and comfortable participating. I aim to create a friendly and supportive classroom environment where students feel that their knowledge and experiences are valued. Whenever possible, I connect course material to relatable examples and encourage students to draw on their own observations of language in everyday life.

I believe that active participation and discussion are essential to learning. For this reason, I regularly incorporate exercises, collaborative activities, and role-playing scenarios to help students explore linguistic concepts in a hands-on way. Humor and an approachable atmosphere are also important to me, as they can lower barriers to participation and make students feel more confident engaging with complex ideas.

I am committed to continuously improving my teaching. My courses are evaluated regularly, and I actively use student feedback to refine and develop my teaching practices. I have also completed training in university pedagogy and inclusive teaching, and I strive to make my courses accessible and welcoming to students with diverse backgrounds and experiences.

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
