/* use Charis SIL - Regular in .woff2 format */
@font-face {
  font-family: CharisSIL;
  src: url(CharisSIL-Regular.woff2);
}
/* use Charis SIL - Italic in .woff2 format */
@font-face {
  font-family: CharisSIL;
  font-style: italic;
  src: url(CharisSIL-Italic.woff2);
}
/* use Charis SIL - Bold in .woff2 format */
@font-face {
	font-family: CharisSIL;
	font-weight: bold;
	src: url(CharisSIL-Bold.woff2);
}
/* use Charis SIL - Bold Italic in .woff2 format */
@font-face {
	font-family: CharisSIL;
	font-weight: bold;
	font-style: italic;
	src: url(CharisSIL-BoldItalic.woff2);
}

html {
  font-family: "CharisSIL", "Latin Modern", serif;
}